<!--navbar mobile-->
<div class='container mt-10'>

  <nav class='flex justify-between'>
    <!--  logo-->
    <div>
      <img src='/assets/images/logo.svg' alt='Logo'>
    </div>
    <!--  end logo-->

    <!--  close menu-->
    <div class='cursor-pointer' (click)='isActiveModal=false'>
      <img src='/assets/images/icon-close.svg' alt='Close'>
    </div>
    <!--  end close menu-->
  </nav>


  <!--    links-->
  <ul class='mt-14 w-full flex flex-col items-center bg-skin-bg space-y-8 py-8 rounded'>
    <li><a class='text-center font-semibold hover:text-skin-accent' href='#'>Pricing</a></li>
    <li><a class='text-center font-semibold hover:text-skin-accent' href='#'>Product</a></li>
    <li><a class='text-center font-semibold hover:text-skin-accent' href='#'>About Us</a></li>
    <li><a class='text-center font-semibold hover:text-skin-accent' href='#'>Careers</a></li>
    <li><a class='text-center font-semibold hover:text-skin-accent' href='#'>Community</a></li>
  </ul>
  <!--    end links-->
</div>
<!--end navbar mobile-->
