<div class='container mt-10'>
  <nav class='flex items-center justify-between'>
    <!--  logo-->
    <div>
      <img src='/assets/images/logo.svg' alt='Logo'>
    </div>
    <!--  end logo-->

    <ul class='hidden gap-8 font-medium lg:flex'>
      <li><a class='hover:text-accent' href='#'>Pricing</a></li>
      <li><a class='hover:text-accent' href='#'>Product</a></li>
      <li><a class='hover:text-accent' href='#'>About Us</a></li>
      <li><a class='hover:text-accent' href='#'>Careers</a></li>
      <li><a class='hover:text-accent' href='#'>Community</a></li>
    </ul>

    <div class='hidden lg:block'>
      <a class='text-base btn btn-primary' href='#'>Get Started</a>
    </div>

    <!--  hamburger menu-->
    <div class='cursor-pointer lg:hidden' (click)='isActiveModal=true'>
      <img src='/assets/images/icon-hamburger.svg' alt='Hamburger'>
    </div>
    <!--  end hamburger menu-->

  </nav>
</div>
