<footer class='bg-skin-bg-footer min-h-16 text-skin-inverted py-10 lg:py-20'>
  <div class='container space-y-10 md:flex md:justify-between'>

    <!--  contact form-->
    <form class='max-w-md flex justify-center align-middle mx-auto md:order-last md:flex-col md:mr-0'>
      <div class='flex lg:w-[450px]'>
        <input class='w-full rounded-full text-xs px-4 py-3' type='text'
               placeholder='Updates in your inbox...'>
        <button class='btn btn-primary uppercase text-xs ml-2'>Go</button>
      </div>

      <p class='text-skin-muted text-center text-sm mt-10 hidden md:block'>Copyright 2020. All Rights Reserved</p>
    </form>
    <!--  end contact form-->

    <!--  links-->
    <div
      class='flex px-6 py-10 justify-between text-sm max-w-sm mx-auto md:px-0 py-0 md:space-x-6 lg:text-lg lg:space-x-[100px]'>
      <ul class='space-y-3'>
        <li><a class='hover:text-skin-accent' href='#'>Home</a></li>
        <li><a class='hover:text-skin-accent' href='#'>Pricing</a></li>
        <li><a class='hover:text-skin-accent' href='#'>Products</a></li>
        <li><a class='hover:text-skin-accent' href='#'>About Us</a></li>
      </ul>
      <ul class='space-y-3'>
        <li><a class='hover:text-skin-accent' href='#'>Careers</a></li>
        <li><a class='hover:text-skin-accent' href='#'>Community</a></li>
        <li><a class='hover:text-skin-accent' href='#'>Privacy Policy</a></li>
      </ul>
    </div>
    <!--  end links-->

    <div class='flex flex-col md:order-first md:justify-between md:items-start'>
      <!--  socials-->
      <ul class='flex justify-between mx-auto space-x-3'>
        <li class='w-6 h-6 relative'>
          <img class='absolute inset-0 w-full h-full' src='/assets/images/icon-facebook.svg' alt='Fakebook'></li>
        <li class='w-6 h-6 relative'>
          <img class='absolute inset-0 w-full h-full' src='/assets/images/icon-youtube.svg' alt='Youtube'></li>
        <li class='w-6 h-6 relative'>
          <img class='absolute inset-0 w-full h-full' src='/assets/images/icon-twitter.svg' alt='Twitter'></li>
        <li class='w-6 h-6 relative'>
          <img class='absolute inset-0 w-full h-full' src='/assets/images/icon-pinterest.svg' alt='Pinterest'></li>
        <li class='w-6 h-6 relative'>
          <img class='absolute inset-0 w-full h-full' src='/assets/images/icon-instagram.svg' alt='Instagram'></li>
      </ul>
      <!--  end socials-->

      <!--  logo-->
      <div class='mt-16 flex justify-center md:order-first md:mt-0'>
        <img src='/assets/images/logo.svg' alt='Logo'>
      </div>
      <!--  end logo-->
    </div>

    <!--  copyright-->
    <p class='text-skin-muted text-center text-sm mt-10 md:hidden'>Copyright 2020. All Rights Reserved</p>
    <!--  end copyright-->
  </div>
</footer>
