<footer class='pt-16 pb-6 bg-footer text-inverted '>
  <div class='container flex flex-col gap-10'>

    <!-- inbox -->
    <lbk-inbox class="block w-full"></lbk-inbox>
    <!-- end inbox -->

    <!--  links-->
    <lbk-footer-links></lbk-footer-links>
    <!--  end links-->

    <div class='flex flex-col md:order-first md:justify-between md:items-start'>
      <!-- social -->
      <lbk-social></lbk-social>
      <!-- end social -->


      <!--  logo-->
      <div class='flex justify-center mt-16 md:order-first md:mt-0'>
        <img src='/assets/images/logo-light.svg' alt='Logo'>
      </div>
      <!--  end logo-->
    </div>

  </div>

  <!--  copyright-->
  <lbk-copyright class="block mt-20"></lbk-copyright>
  <!--  end copyright-->
</footer>
