@import "node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    // bright red
    --color-primary: 12, 88%, 59%;

    //color text
    // very dark blue
    --text-fill: 233, 12%, 13%;
    // Bright Red
    --text-primary: 12, 88%, 59%;
    // dark grayish blue
    --text-muted: 227, 12%, 61%;
    // white
    --text-inverted: 0, 0%, 98%;

    //color background
    // very light gray
    --bg-fill: 0, 0%, 100%;
    --bg-muted: 0, 0%, 98%;
    --bg-footer: 233, 12%, 13%;
    --primary: 12, 88%, 59%;
    --primary-300: 13, 100%, 96%;
  }

  input[type="email"] {
    @apply text-fill border-2 border-transparent focus:border-primary focus:ring-2 focus:ring-primary;
  }
}

@layer components {
  .container-large {
    max-width: 1440px;
    margin: 0 auto;
  }

  //CUSTOM APPLY HERE
  .btn {
    @apply text-xs inline-block rounded-full px-8 py-4 font-black tracking-wide sm:text-base lg:text-base shadow-lg hover:opacity-70 disabled:opacity-70;
  }

  .btn-primary {
    @apply bg-primary text-inverted shadow-md shadow-primary;
  }

  .btn-primary-inverted {
    @apply bg-fill text-primary;
  }

  .badge-primary {
    @apply px-5 leading-10  bg-primary rounded-full text-white font-bold;
  }

  .animated-link {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding-bottom: 0.1rem;
    @apply duration-200 hover:text-gray-500 hover:tracking-wider;

    &:hover:before {
      left: 0;
    }

    &:hover:after {
      right: 0;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      transition: all 0.3s ease-in-out;
      @apply bg-primary;
    }

    &:before {
      bottom: 0;
      left: -100%;
    }
    &:after {
      bottom: 0;
      right: -100%;
    }
  }
}
