// @import "~ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
// @import "~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    //color text
    --text-primary: 12, 88%, 59%;
    --text-base: 233, 12%, 13%;
    --text-muted: 227, 12%, 61%;
    --text-inverted: 0, 0%, 98%;

    //color background
    --bg-fill: 0, 0%, 98%;
    --bg-muted: 13, 100%, 96%;
    --bg-footer: 233, 12%, 13%;
    --primary: 12, 88%, 59%;
    --primary-800: 12, 88%, 59%;
  }
}

@layer components {
  //CUSTOM APPLY HERE
  .btn {
    @apply inline-block rounded-full px-5 py-3 text-xs font-black lg:text-base shadow-lg;
  }

  .btn-primary {
    @apply bg-primary-800 text-inverted;
  }

  .btn-primary-inverted {
    @apply bg-fill text-primary;
  }
}
